#square-app
{
    display: inline-block;
}

#square-app .app-container
{
    display: grid;
    grid-template-areas:
    ". rc rc ."
    "rr fd fd ac"
    "rr fd fd ac"
    ". ar ar .";

}

#squares-field
{
    display: grid;
    grid-template-columns: repeat(2,50px);
    border:2px solid #5599EB;
    gap: 3px;
    padding: 3px;
    grid-area: fd;
}


#squares-field .square
{
    height: 50px;
    width: 50px;
    background-color: #5599EB;
} 


#addRowButtonContainer
{
    grid-area: ar;
}

#addColumnButtonContainer
{
    grid-area: ac;
}

#removeColumnButtonContainer
{
    grid-area: rc;
}

#removeRowButtonContainer
{
    grid-area: rr;
}


.addButton
{
    background-color: #F1B200;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    
}

#addRowButton
{
    margin: 3px 5px;
}

#addColumnButton
{
    margin: 5px 3px;
}